<!-- table -->
<div style="overflow-x: visible; min-height: 365px" class="table-responsive h-auto">
  <table class="table align-items-center table-flush">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Updated At</th>
        <th scope="col">Created At</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; let i = index">
        <th scope="row">
          <div class="media-body">
            <span class="mb-0 text-sm">{{ item.name }}</span>
          </div>
        </th>

        <td>{{ item.description }}</td>
        <td>{{ item.price | currency: 'USD':'symbol':'1.0-1' }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.updatedAt | date: 'short' }}</td>
        <td>{{ item.createdAt | date: 'short' }}</td>

        <td class="text-right">
          <div ngbDropdown placement="bottom-right">
            <a class="btn btn-sm btn-icon-only text-light" ngbDropdownToggle>
              <i class="fas fa-ellipsis-v"></i>
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right dropdown-menu-arrow">
              <a class="dropdown-item" href="#">Edit</a>
              <a class="dropdown-item" (click)="open(content, i)" href="#">Delete</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- pagination -->
<div class="card-footer py-4">
  <nav aria-label="...">
    <ul class="pagination justify-content-end mb-0">
      <ngb-pagination
        (pageChange)="pageChange($event)"
        [collectionSize]="collectionSize"
        [pageSize]="pageSize"
        [(page)]="page"
        aria-label="Default pagination"
      ></ngb-pagination>
    </ul>
  </nav>
</div>

<!-- modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Removing Item</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong
        >Are you sure you want to delete <span class="text-primary">{{ itemToDelete.name }}</span> item?</strong
      >
    </p>
    <p>
      All information associated to this item will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Confirm</button>
  </div>
</ng-template>
